.page-error {
    background-color: rgba(116, 2, 80, 0.4);
    border-radius: 0 25px 25px 25px;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.page-error__not-found {
    animation-name: fade-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translateX(-700px);
}
.page-error__not-found-rtl {
    animation-name: fade-out-rtl;
}
@keyframes fade-out-rtl {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(400px);
    }
}
@keyframes fade-out {
    from {
        transform: translateX(550px);
    }
    to {
        transform: translateX(-550px);
    }
}
.input-msg {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}
.input-error-msg {
    color: rgb(199, 9, 9);
}
.input-success-msg {
    color: rgb(123, 9, 199);
}
