a:hover {
    color: #fff;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
h3 {
    padding: 10px;
    color: rgb(156, 38, 199);
    border: 5px solid rgb(156, 38, 199);
    border-radius: 15px;
}
body {
    background: url("/img/main-bg.jpg") no-repeat top center / cover;
}
.main-screen {
    min-height: 100vh;
}
.btn {
    max-width: 230px;
    min-width: 150px;
    border: none;
    color: #fff;
    background: #d63737;
    border-radius: 30px;
    border: 3px solid #6a6565;
    box-shadow: none;
    transition: background 0.5s ease, border 0.5s ease;
}
.btn:hover {
    border: 3px solid rgb(115, 4, 9);
    color: #fff;
    background-color: rgb(170, 27, 34);
    transition: background 0.5s ease, border 0.5s ease;
}
.user-login-buttons .btn {
    width: auto;
    border-radius: 20px;
}
.btn-locale {
    max-width: 60px;
    min-width: 60px;
}
.btn-pos-action {
    background-color: #2abb10;
}
.btn-pos-action:hover {
    background-color: #1d840b;
    border: 3px solid #0f5303;
}
.btn-dis {
    cursor: auto;
    max-width: 50px;
    min-width: 50px;
    background: #474646;
    box-shadow: none;
}
.btn-dis:hover {
    background: #474646;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Modal Questions */

.wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.wrapper-modal.active {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.overlay:hover {
    /* opacity: 0.75; */
    transition: opacity 0.5s ease;
}
.overlay_loader {
    background-color: rgb(128, 94, 94);
}
.modal-content {
    // background-color: #fff;
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Loader Start*/
.block-wrap_animation_5 {
    position: relative;
    width: 150px;
    height: 150px;
}
.road {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    animation-name: road-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.driver {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e76c6c;
}
.road-2 {
    animation-delay: 0.3s;
}
.road-3 {
    animation-delay: 0.6s;
}
.road-4 {
    animation-delay: 0.9s;
}
.road-5 {
    animation-delay: 1.2s;
}
.road-2 .driver {
    background-color: #54c052;
}
.road-3 .driver {
    background-color: #5f64e1;
}
.road-4 .driver {
    background-color: #df6ff1;
}
.road-5 .driver {
    background-color: #e77f05;
}
@keyframes road-animation {
    0% {
        transform: none;
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

/* Loader End */
/* Color Picker Start */
.flex-between {
    display: flex;
    justify-content: space-between;
}
.padding-0 {
    padding-right: 0;
    padding-left: 0;
}
.picker {
    // width: 710px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(
            145.99deg,
            rgba(47, 166, 182, 0.6) 6.25%,
            rgba(105, 95, 216, 0.6) 93.15%
        ),
        url("/img/color-picker-bg.jpg") repeat top center;
}
.wrap-in {
    padding: 15px;
    border-radius: 30px;
    background-color: #fff;
}
.color-wrap {
    border: 2px solid #fff;
    cursor: pointer;
    background: #fff;
    filter: drop-shadow(0px 4px 10px rgba(109, 109, 109, 0.3));
    border-radius: 20px;
}
.color-img {
    border: 2px solid #fff;
    border-radius: 30px;
}
.color-img_red:hover {
    border: 2px solid #e76c6c;
}
.color-img_green:hover {
    border: 2px solid #54c052;
}
.color-img_blue:hover {
    border: 2px solid #5f64e1;
}
.color-img_pink:hover {
    border: 2px solid #df6ff1;
}
.color-img_orange:hover {
    border: 2px solid #e77f05;
}
.color-wrap-clicked-red,
.color-wrap-clicked-green,
.color-wrap-clicked-blue,
.color-wrap-clicked-pink,
.color-wrap-clicked-orange {
    filter: none;
}
.color-wrap-clicked-red {
    border: 2px solid #e76c6c;
}
.color-wrap-clicked-green {
    border: 2px solid #54c052;
}
.color-wrap-clicked-blue {
    border: 2px solid #5f64e1;
}
.color-wrap-clicked-pink {
    border: 2px solid #df6ff1;
}
.color-wrap-clicked-orange {
    border: 2px solid #e77f05;
}
.color-red,
.color-green,
.color-blue,
.color-pink,
.color-orange {
    border-width: 3px;
    border-style: solid;
    background-color: #fff !important;
}
.color-red {
    border-color: #e76c6c !important;
    color: #e76c6c !important;
}
.color-green {
    border-color: #54c052 !important;
    color: #54c052 !important;
}
.color-blue {
    border-color: #5f64e1 !important;
    color: #5f64e1 !important;
}
.color-pink {
    border-color: #df6ff1 !important;
    color: #df6ff1 !important;
}
.color-orange {
    border-color: #e77f05 !important;
    color: #e77f05 !important;
}
.color-white {
    border-color: #fff !important;
    color: #fff !important;
}
/* Color Picker End */

.room-smily {
    padding: 10px;
    font-size: 23px;
    cursor: pointer;
}
.room-smily-holder {
    position: relative;
}
.room-smily-options {
    position: absolute;
    width: 90px;
    z-index: 1;
    background-color: #12c9c6;
    bottom: 100%;
    left: 70%;
    border-radius: 20px 20px 20px 0;
    opacity: 0;
    transition: opacity ease 1s;
    border: 3px solid #474646;
}
.room-smily-options_join {
    left: auto;
    right: 70%;
    border-radius: 20px 20px 0 20px;
}
.room-smily-option {
    cursor: pointer;
    font-size: 23px;
    padding: 4px;
}
.fade-in {
    opacity: 1 !important;
    transition: opacity ease 1s;
}

.form-post-input {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
