a:hover {
    color: #fff;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
h3 {
    padding: 10px;
    color: rgb(156, 38, 199);
    border: 5px solid rgb(156, 38, 199);
    border-radius: 15px;
}
body {
    background: url("/img/main-bg.jpg") no-repeat top center / cover;
}
.main-screen {
    min-height: 100vh;
}
.btn {
    max-width: 230px;
    min-width: 150px;
    border: none;
    color: #fff;
    background: #d63737;
    border-radius: 30px;
    box-shadow: none;
    transition: background 0.5s ease;
}
.btn:hover {
    border: none;
    color: #fff;
    background-color: rgb(170, 27, 34);
    transition: background 0.5s ease;
}
.user-login-buttons .btn {
    width: auto;
    border-radius: 20px;
}
.btn-locale {
    max-width: 60px;
    min-width: 60px;
}
.btn-dis {
    cursor: auto;
    max-width: 50px;
    min-width: 50px;
    background: #474646;
    box-shadow: none;
}
.btn-dis:hover {
    background: #474646;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Modal Questions */

.wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.wrapper-modal.active {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.overlay:hover {
    /* opacity: 0.75; */
    transition: opacity 0.5s ease;
}
.overlay_loader {
    background-color: rgb(128, 94, 94);
}
.modal-content {
    // background-color: #fff;
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Loader */
.block-wrap_animation_5 {
    position: relative;
    width: 150px;
    height: 150px;
}
.road {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    animation-name: road-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.driver {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e76c6c;
}
.road-2 {
    animation-delay: 0.3s;
}
.road-3 {
    animation-delay: 0.6s;
}
.road-4 {
    animation-delay: 0.9s;
}
.road-5 {
    animation-delay: 1.2s;
}
.road-2 .driver {
    background-color: #54c052;
}
.road-3 .driver {
    background-color: #5f64e1;
}
.road-4 .driver {
    background-color: #df6ff1;
}
.road-5 .driver {
    background-color: #e77f05;
}
@keyframes road-animation {
    0% {
        transform: none;
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
